    <div  class="container">
      <div  class="text-muted">

                  <p style="border:3px; border-style:solid; border-color:#808080; padding: 0.5em;"><strong>Name: </strong>Zeeshan Ali</p>
        
                  <p style="border:3px; border-style:solid; border-color:#808080; padding: 0.5em;"><strong>EmailId: </strong>zeeshanalidba@gmail.com</p>
                   
                
                  <p style="border:3px; border-style:solid; border-color:#808080; padding: 0.5em;"><strong>Contact: </strong>6692120980</p>

                  <p style="border:3px; border-style:solid; border-color:#808080; padding: 0.5em;"><strong>DOB: </strong>06/29/1993</p>

                  <p style="border:3px; border-style:solid; border-color:#808080; padding: 0.5em;"><strong>Education: </strong> Graduate</p>

                  <p style="border:3px; border-style:solid; border-color:#808080; padding: 0.5em;"><strong>Interests: </strong>Music, Soccer, Coding</p>

               
        </div>   
  </div>